<!DOCTYPE html>
<html ng-app="Main">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>More Beer Here</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container" ng-controller="productsController">
		<h1>More Beer Here</h1>

		<div>
			<label ng-repeat="category in categories" class="checkbox-inline">
				<input type="checkbox" ng-click="categoryChange(category.category)"> {{category.category}}
			</label> 	
		</div>

		<div class="col-md-4" ng-repeat="product in products | filter:productFilter">
			<a ng-href="#/product/{{product.id}}">
				<div class="well">
					<h4>{{product.name}}</h4>
				
					<label>
						Price: 
					</label>
					{{ product.price }} DKK.

				</div>
			</a>
		</div>
		
	</div>
	
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/app.module.js"></script>
	<script src="js/products.controller.js"></script>
</body>
</html>